".source.yaml":
  "Templates a file out to a remote server.":
    "prefix": "template"
    "body": """
    - name: $1
      template:
        src: $2
        dest: $3
        owner: $4
        group: $5
        mode: $6
        backup: $7
        validate: $8
    """

  "Sets attributes of files":
    "prefix": "file"
    "body": """
    - name: $1
      file:
        path: $2
        src: $3
        dest: $4
        owner: $5
        group: $6
        state: $7
        mode: $8
        recurse: no
    """

  "set/retrieve extended attributes":
    "prefix": "xattr"
    "body": """
    - name: $1
      xattr:
        name: $2
        follow: $3
        state: get
        value: $4
    """

  "Fetches a file from remote nodes":
    "prefix": "fetch"
    "body": """
    - name: $1
      fetch:
        dst: $2
        src: $3
    """

